<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Python</title>
</head>
<body style="background-color: darkslategrey;">
    <div class="container-fluid bg-ligth p-5" style="height: 100vh">
        <div class="container p-4 bg-white rounded" style="margin-top:20px; height: 500px; width:700px;">
            <h1 class="display-4 text-center mt-5">Calculadora</h1>
            <div class="container" style="width:80%;">
            <form action="" method="POST">
                <input type="number" placeholder="Digite um numero" name="num1" class="form-control my-3">
                <input type="number" placeholder="Digite um numero" name="num2" class="form-control my-3">

                <br/>

                <div style="width:20%; display: inline-block;">
                <input type="radio" name="opc" id="soma" value="soma" checked>
                <label for="soma">Soma</label>
                </div>


                <div style="width:24%; display: inline-block;">
                <input type="radio" name="opc" id="subt" value="subt">
                <label for="subt">Subtrair</label>
                </div>


                <div style="width:33%; display: inline-block;">
                <input type="radio" name="opc" id="mult" value="mult">
                <label for="mult">Multiplicação</label>
                </div>
                
                
                <div style="width:20%; display: inline-block;">
                <input type="radio" name="opc" id="divi" value="divi">
                <label for="divi">Divisão</label>
                </div>
                <br/><br/>

                <button class="btn btn-success" style="width: 49%;">Enviar</button>
                <button class="btn btn-danger" style="width: 49%;" type="reset">Cancelar</button>
            </form>
            </div>
        </div>

    </div>
</body>
</html>